__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
.env/
.env
.idea/
.vscode/
.DS_Store
*.iml
*.ipr
*.iws
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
build/
dist/
*.egg-info/
*.log
Pipfile.lock
